body {
    margin: 0px;
    background-color: #127681;
    font-family: 'Muli', sans-serif;
}
.header {
    background-color: #f3c623;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    top: 0px;
}
.header__img { 
    width: 200px;
    /* margin-top: 10px; */
    margin-left: 30px;
}
.register {
    background: linear-gradient(#f3c623, #127681);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.register__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 50px 68px 30px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.register__container--form {
    display: flex;
    flex-direction: column;
}
.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    color: white;
}
::placeholder {
    color: white;
}
.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.register__container--sign-in {
    font-size: 14px;
}
.register__container--sign-in a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.register__container--sign-in a:hover{
    text-decoration: underline;   
}
.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #127681;
}
.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;   
}
.footer a:hover {
    text-decoration: underline;   
}
